body{
 background-image: url("../images/f1.jpg");
}
a{
  color: #fff;

 }
a:hover{
 text-decoration: none;
}
.container{
 width:500px;
 background-color: rgba(24, 33, 52, 0.7);
 margin: 100px auto 0 auto;
 text-align: center;
 box-shadow: 0 -5px 0 black;
 padding-bottom: 20px;
 border-radius: 15px;
}
.container img{
 width:120px;
 height:120px;
 margin: -60px 0 30px 0;
 border: 5px solid black;
 border-radius: 50%;
 box-shadow: 0 -5px 0 black;
}

input[type="text"],input[type="email"],input[type="textarea"]{
 width: 300px;
 height:50px;
 border-radius: 4px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
}
.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
.dws-submit {
 padding: 13px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: darkgrey;
 border: none;
 border-bottom: 4px solid black;
 cursor: pointer;
}





.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: black;
}

.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: black;
}
.dws-input:nth-child(2)::before{
content: "\f0e0";
}
.dws-input:nth-child(3)::before{
content: "\f040";
}
.dws-input:hover::before{
 color: #319ebc;
 transition: all 0.3s;
}




@media screen and (max-width: 700px){
	.container{
		max-width:80%
	}
	.dws-input input{
		max-width: 77%;
	}
}
